{% extends "__base.html" %}
{% load cms_tags %}


-block 'title'
    {% page_attribute "page_title" %}


-block 'navigation'
    -include 'cms/navigation.html'


-block 'content'
    .row
        .col-md-4.col-xs-12
            -placeholder 'left-panel'
        .col-md-8.col-xs-12
            -placeholder 'main-panel'
