{%extends '__l_base.html' %}



{% block 'main-col' %}


    <div class="col-md-8 col-xs-12 col-md-offset-2 col-lg-4 col-lg-offset-4">
        <h4> Password Reset </h4>

        <a class="pull-right" href='{%url "kp_home"%}'> Zurück zum Login</a>
        </br>

        <form class="well" action='' method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary form-control">
                Zurücksetzen
            </button>

        <script type="text/javascript">
            $(document).ready(function(){
            $('input').addClass('form-control').focus()

        })
        </script>


{% endblock %}






