{%extends '__l_base.html' %}


-block 'main-col'
    %br
    .row
        .col-xs-12.col-md-8.col-md-offset-2.col-lg-4.col-lg-offset-4
            .jumbotron
                %h2 Sie haben sich erfolgreich registriert
                %p Sobald Ihr Profil freigeschaltet wurde, erhalten Sie eine E-Mail und können sich mit Ihrere E-Mail Adress und Ihrem Password im Kundenportal anmelden.

